* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Supermolot-Thin;
    src: url("Supermolot-Thin.ttf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    background-position: center;
}

.container {
    background: white;
}

.content {
    width: 70%;
    margin: 40px auto 40px auto;
}

.header {
    background-position: center;
    margin-top: 0px;
    height: auto;
}

.header h1 {
    font-family: Supermolot-Thin;
    padding: 150px 10px 150px 10px;
    font-size: 80px;
    color: white;
    background: rgba(0,0,0, 0.712);
}

h1, h2 {
    font-family: Supermolot-Thin;
    text-align: center;
    color: rgb(255, 255, 255);
}

.content h2 {
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    font-size: 24px;
    text-align: left;
    color: #2c3e50;
    border-bottom: 3px solid #2c3e50;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.legend, .text {
    font-family: Supermolot-Thin;
    padding: 20px 20px 20px 20px;
    background: rgba(255,255,255,0.85);
}

.legend {
    font-size: 20px;
    text-align: center;
}

.text {
    font-size: 18px;
    text-align: justify;
}

.content img {
    width: 250px;
    height: auto;
}

#galery {
    height: 300px;
    margin-top: 40px;
    background: #2c3e50;
    border-radius: 3px;
}


.tail {
    height: 300px;
    margin-top: 40px;
    background: #2c3e50;
    border-radius: 3px;
}

.person {
    margin: 10px 10px 10px 10px;
    position: relative;
    float: left;
}

.person p img{
    float: left;
    width: auto;
}

.person p {
    padding-left: 80px;
    padding-top: 20px;
}

.person img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    float: left;
}
